/* contact page common styles */ 

.contact-grid-wrapper {
    width: 1000px; 
    display: flex; 
    justify-content: center;

}

.company-meta-data-sidebar-wrapper > .logo  {
    width: 100%; 
}

.form > .form-group {
    margin-top: 30px; 
    margin-bottom: 30px; 
}