@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

/*  Common nav styles */
.navigation-wrapper {
    border-bottom: .1em solid transparent;
    text-decoration: none; 
    height: 190px;
    background-color: #11122b;
    margin-left: -33px; 
    margin-top: -33px; 
    margin-right: -33px; 
    /* flex box container */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.nav-item-1{
    width: 100px; 
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    padding-bottom: 100px;
}
.nav-item-3 {
    width: 100px; 
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    padding-bottom: 100px;
}

a.about-link {
    color: #cbcbcb
}

a.contact-link {
    color: #cbcbcb
}

.about-link:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    text-decoration: none; 
    color: #cea135; 
    background: transparent;
}

.contact-link:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    text-decoration: none; 
    color: #cea135; 
    background: transparent; 
}

.nav-image:hover  {
    background: transparent; 
    
}








