@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0; 
}

.h1, h2, h3, h4 {
    font-family: 'Roboto Slab', serif;
}

/*  Common nav styles */
.navigation-wrapper {
    border-bottom: .1em solid transparent;
    text-decoration: none; 
    height: 250px;
    background-color: #11122b;
    margin-left: -33px; 
    margin-top: -33px; 
    margin-right: -33px; 
}

    /* flex box container */
    .links-wrapper {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    font-size: 2em
}

.nav-item-1{
    width: 100px; 
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    padding-bottom: 100px;
     
}
.nav-item-3 {
    width: 100px; 
    font-size: 18px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    padding-bottom: 100px;
   
}

a.about-link {
    color: #cbcbcb
}

a.contact-link {
    color: #d9d9d9
}

.about-link:hover {
    border-bottom: transparent;
    letter-spacing: 1px; 
    text-decoration: none; 
    color: #d9d9d9; 
    background: transparent;
    transition: 1s; 
}

.contact-link:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    text-decoration: none; 
    color: #d9d9d9; 
    background: transparent; 
    transition: 1s; 
}

.nav-image:hover  {
    background: transparent; 
    
}

a.nav-image {
    padding-bottom: 20px; 
}

/* common footer styles */

.footer-wrapper {
    position: absolute; 
    width: 100%;
    padding-top: 10px; 
    height: 300px; 
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Unbuntu Condensed", sans-serif; 
    margin-left: -33px; 
    margin-right: -33px;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column; 
 
}

.footer-wrapper > .footer-item-1 {
    width: 80px; 
    font-size: 12px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    text-decoration: none; 
    box-align: center; 
    font-size: 1.25em; 
}

.footer-wrapper > .footer-item-2{
    width: 80px; 
    font-size: 12px;
    align-items: center;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    font-size: 1.25em; 
}
.footer-wrapper > .footer-item-3{
    width: 80px; 
    font-size: 12px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    font-size: 1.25em; 
}

.footer-wrapper > .footer-item-4{
    width: 80px; 
    font-size: 12px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #cbcbcb;
    font-size: 1.25em; 
}

.footer-item-1:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    color: #d9d9d9; 
    background: transparent; 
    transition: 1s; 
}

.footer-item-2:hover {
    border-bottom: transparent;
    letter-spacing: 2px;  
    color: #d9d9d9; 
    background: transparent; 
    transition: 1s; 
}

.footer-item-3:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    color: #d9d9d9; 
    background: transparent; 
    transition: 1s; 
}

.footer-item-4:hover {
    border-bottom: transparent;
    letter-spacing: 2px; 
    color: #d9d9d9; 
    background: transparent; 
    transition: 1s; 
}

.footer-wrapper > .social-media-icons-wrapper {
    width: 100px; 
    font-size: 1.5em;
    color: white; 
    text-decoration: none; 
}

a.fab.fa-twitter::before {
    color:white; 
}

a.fab.fa-twitter:hover{
    text-decoration: none;  
}

a.fab.fa-twitter::before {
    color:white; 
}

a.fab.fa-facebook-f::before {
    color:white;
}

a.fab.fa-facebook-f:hover {
    text-decoration:none; 
}

a.fab.fa-instagram::before {
    color: white; 
}

a.fab.fa-instagram:hover {
   text-decoration: none;
}

.footer-wrapper > .social-media-icons-wrapper:hover {
    background: transparent;
}


.footer-wrapper > .copyright-wrapper {
    width: 200px; 
    font-size: 0.75em;
}

a.footer-new-post {
    text-decoration: none;
}

a.footer-root {
    text-decoration: none;
}

a.footer-about {
    text-decoration: none;
}

a.footer-contact {
    text-decoration: none;
}









